
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600&display=swap');
* {
    font-family: 'Baloo 2', cursive;
    font-weight: 600;
}
.nav {
    margin-top:8px;
}
.nav-item {
    position: relative;
    align-items: center;
    align-content: center;
    height: 100%;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #757B63;
    transition: 0.4s;
}

.nav-item > div > div {
    position: relative;
    font-family: 'Baloo 2', cursive;
    
}
.nav-item:hover {
    text-decoration: none;
    color: #B5BBA3;
}
.nav-item > div > div > img {
    position: relative;
    width: 26px;
    margin-right: 7px;
}

.nav-logo > div > div > img {
    position: relative;
    width: 90px;
}