.nav-item {
    position: relative;
    align-items: center;
    align-content: center;
}

.nav-item > a {
    width: 100%;
}
.nav-item > a > img {
    width: 35px;
}

.nav-logo > a > img {
    width: 110px;
}